<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>RedBus</title>

</head>
<style>
	body{
		background-image: url('https://cdn.dribbble.com/users/2272786/screenshots/10965290/media/4e95c9f5d1d404ef98730ad989b6a5ac.gif');
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: 100% 100%;
	}
	
</style>
<body>
	<header>
		<h1 style=text-align:center;>Welcome to REDBUS</h1>
		<p style=text-align:center;>
			<a href="/home">home</a> | <a href="/passengerSignup">Passenger-Service</a> | <a href="/passengerlogin">Passenger-Login</a>
			| <a href="/showPassengers">Show passengers</a> 
		</p>
	</header>
	<hr>
	<h2 style="text-align:center;">India's No. 1 Online Bus Ticket Booking Site</h2>
		
		<p style="font-size:25px">
		Very easy to book, maintain history. Hassle free from older versions of booking tickets
		via <br> 
		Mobile phone<br>
		Web Page etc....<br>
		</p>
	<br><br><br><br><br><br><br><br><br><br>
		<hr>
		<footer>
			<h3 style=text-align:center;>copyright@redbus</h3>
		</footer>
	</body>


</html>